:root {
    --color-background: #110f0f;            /* Color de fondo */
    --color-background-hover-tab: #8c8c8c;  /* Hover tab */
    --color-border-hover-tab: #000000;      /* Nuevo color para el borde al hacer hover */
    --color-text: #efe5e5;                  /* Color de texto principal */
    --color-text-header: #f544fc;           /* Color texto nombre */
    --color-text-welcome: #00ce67;          /* Color texto saludo */
    --color-link: #5fa0fe;                  /* Color de enlaces */
    --color-link-hover: #00ce67;            /* Color de enlaces al pasar el ratón */
  }

body, html {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.language-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.language-buttons img {
    width: 50px;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.language-buttons img:hover {
    transform: scale(1.2);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.social-links a {
    margin-right: 20px;
    fill: var(--color-text);
}

.social-links svg {
    width: 50px;
    height: auto;
}

.social-links a:hover svg {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    fill: var(--color-link-hover);
}

.main-container {
    max-width: 800px;
    margin: 20px auto;
}

.p-title {
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace !important;
    font-weight: bold;
    color: var(--color-text-welcome);
    margin: 0;
}

h1 {
    font-size: 60px;
    color: var(--color-text-header);
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 16px;
    color: var(--color-text);
    line-height: 1.6;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace !important;
}

.tabs-container {
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 5px;
}

/* Estilos para cada pestaña */
.tab {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid; 
    border-radius: 5px;
    border-color: var(--color-text-header);
    color: var(--color-text);
    cursor: pointer;
    transition: color 0.3s ease, border 0.3s ease;
  }
  
  .tab:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    border-color: var(--color-text-welcome);
    color: var(--color-text-welcome);
    border-radius: 5px;
  }

.tab-content {
    max-width: 800px;
    margin: auto;
    position: absolute;
    opacity: 0;
    visibility: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-text);

    left: 0;
    right: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.tab-content.active-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
    left: 0; 
    right: 0;
    z-index: 1;
}

#content-tab1 a, #content-tab2 a, .main-container a {
    color: var(--color-link); 
    text-decoration: none;
}

#content-tab1 a:hover, #content-tab2 a:hover, .main-container a:hover{
    text-decoration: underline;
    color: var(--color-link-hover);
}

#content-no-tab {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#miGif {
    width: 640px;
    height: 360px;
    display: block;
    margin: auto;
}

.active-tab::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: var(--color-text-welcome); /* Color de la línea */
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    transform: scaleX(1); /* La línea está visible por defecto */
    transition: transform 0.3s ease;
}

.tab:not(.active-tab):hover::after {
    transform: scaleX(1); /* La línea se agranda al pasar el ratón sobre cualquier pestaña no activa */
}

.tab:not(.active-tab)::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: var(--color-text-welcome); /* Color de la línea */
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    transform: scaleX(0); /* Inicialmente la línea está oculta */
    transition: transform 0.3s ease;

}

.fade-out {
    opacity: 0;
    transition: opacity 0s ease-out; /* Puedes ajustar la duración y la función de temporización según tus preferencias */
}

.fade-in {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--color-background);
    z-index: 1;
}


footer a {
    color: var(--color-link); 
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--color-link-hover);
}

footer p {
    margin-top: 2px;
    margin-bottom: 2px;
}